@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-ExtralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "General Sans", sans-serif;
  margin: 0;
}
html,
body,
#root,
.app {
  height: 100%;
}

#webpack-dev-server-client-overlay-div {
  display: none !important;
}
